[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#--assentials--
matplotlib = "*"
numpy = "*"
pandas = "*"
PyYAML = "*"
rich = "*"
tables = "*"
opencv-python = "*"
# -- ML --
pytorch-lightning = "*"
torchvision = "*"
dacite = "*"
seaborn = "*"
sklearn = "*"
scikit-learn = "*"
wandb = "*"
# --hydra--
hydra-core = "*"
hydra-colorlog = "*"
hydra-optuna-sweeper = "*"
# -- random stuff
python-dotenv = "*"
pytest = "*"
sh = "*"
jupyterlab = "*"
pudb = "*"
pre-commit = "*"
isort = "*"
flake8 = "*"
# -- tensorflow --
tensorflow = "==2.3"
# keras = "*"
# tensorboard = {version="2.4"}
tensorflow-hub = "*"

[dev-packages]

[requires]
python_version = "3.8"
